@using Blog.Model;

@page "/"
@page "/index.html"

<h1>Jim Hill's Blog</h1>



@foreach (var post in _posts)
{
    <PostComponent Post="@post"></PostComponent>
}

@functions {
    private IList<PostData> _posts { get; set; }

    protected override void OnInit()
    {
        this._posts = PostList.GetMostRecentPosts(5);
    }
}
